@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #F3E6DE;
}

.bg-custom-color {
  background-color: #F0B2B7;
}

.bg-custom-color-2 {
  background-color: #F3E6DE;
}

@font-face {
  font-family: 'Retropix';
  src: url('../public/fonts/retropix.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}