@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #F3E6DE;
}

.bg-custom-color {
  background-color: #F0B2B7;
}

.bg-custom-color-2 {
  background-color: #F3E6DE;
}

@font-face {
  font-family: 'Retropix';
  src: url('../public/fonts/retropix.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.auth-container .supabase-auth-ui_separator {
  display: none;
}

/* Ajusta el diseño según tus necesidades */
.auth-container .supabase-auth-ui_card {
  border: none; /* Quita el borde si es necesario */
  box-shadow: none; /* Quita la sombra si es necesario */
}

/* Ajusta los márgenes o el padding si es necesario */
.auth-container .supabase-auth-ui_input,
.auth-container .supabase-auth-ui_button {
  margin: 0; /* Ajusta los márgenes */
  padding: 10px; /* Ajusta el padding */
}

.modalBackground {
  background: url('/images/modalbg-pink.png') center center / cover no-repeat;
}